// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   30-05-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 05-08-2017

page-home {
  h1 {
    font-size: 5rem;
    line-height: 4.5rem;
  }
  .sub-title {
    padding: 20px 0px;
  }

}
