// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   24-07-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 09-08-2017

// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'DS DIGI';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/ds_digital/DS-DIGI.woff2') format('woff2'),
       url('../assets/fonts/ds_digital/DS-DIGI.TTF') format('truetype')
}

@font-face {
  font-family: 'DS DIGIB';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/ds_digital/DS-DIGIB.woff2') format('woff2'),
       url('../assets/fonts/ds_digital/DS-DIGIB.TTF') format('truetype')
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DS DIGIB';
}
p, li, a, button {
  font-family: 'DS DIGI';
}

.header-md::after {
  background-image: none;
}

ion-content {
  color: #fff!important;
  background: #1c1c1c!important;
}

.dTable{
  display:table;
  width: 100%;
  height: 100%;
}
.dCell {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.container {
  max-width:600px;
  margin: auto;
}
.button-block-md {
    margin-left: 0;
    margin-right: 0;
    font-size: 2.5rem;
    padding: 25px 0px;
}

.alert-md .alert-button-group {
  padding:8px;
}
.alert-md .alert-wrapper {
    background: #1c1c1c;
    color: #fff;

    .alert-sub-title {
      text-align: center;
      font-size: 3rem;
    }
}
button.disable-hover.alert-button.alert-button-md.alert-button-default.alert-button-default-md {
    margin: auto;
    font-size: 2rem;
}

.action-sheet-wrapper {
  .action-sheet-container {
    background: #1c1c1c;
  }
  .action-sheet-button.activated {
    background: #2e2e2e;
  }
  span.button-inner {
      color: #fdd835;
      font-size: 2.5rem;
      font-weight: 900;
      text-align: center;
      display: block;
  }
}
